body{
    background-image: url('https://i.pinimg.com/736x/97/4f/29/974f29ae761f34021c7717d21fe1cbe9.jpg');
    background-repeat: no-repeat;
    background-size: 1540px 730px;

    margin: 0;
    overflow: hidden;
    cursor: pointer;
}

.sunflower {
    position: absolute;
    width: 150px;
    height: 150px;
    background-image: url('https://static.vecteezy.com/system/resources/previews/024/822/300/original/cute-cartoon-sunflower-isolated-on-transparent-background-ai-generated-digital-illustration-png.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    transform: translate(-50%, -50%);
    animation: grow 0.5s ease-out;
  }

  @keyframes grow {
    from {
      transform: translate(-50%, -50%) scale(0);
    }
    to {
      transform: translate(-50%, -50%) scale(1);
    }
}